#gaming {
	-fx-background-image: url("../images/back.jpg");
	-fx-background-position: center;
	-fx-background-repeat: stretch;
	-fx-background-size: stretch;
}

#rectBut {
	-fx-graphic: url("../images/rsz_cube.png");
}

#rectBut:selected {
	-fx-graphic: url("../images/cube.png");
}

#circBut {
	-fx-graphic: url("../images/rsz_sphere.png");
}

#circBut:selected {
	-fx-graphic: url("../images/sphere.png");
}

#menuBut {
	-fx-graphic: url("../images/gear.png");
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,2 );
}
.label {
	-fx-font-weight: bold;
	-fx-font-family: "Calibri";
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.5) , 5, 0.0 , 0 , 2 );
}