.root {
	-fx-background-image: url("../images/main.jpg");
	-fx-background-position: center;
	-fx-background-repeat: stretch;
	-fx-background-size: stretch;
}

.button {
	-fx-font-size: 32px;
}

#stageBtn {
	-fx-font-size: 48px;
	-fx-font-weight: bold;
	-fx-text-fill: GREEN;
}

#exitBtn {
	-fx-text-fill: FIREBRICK;

}