#stageMenu {
	-fx-background-image: url("../images/stagesmenu.jpg");
	-fx-background-position: center;
	-fx-background-repeat: stretch;
	-fx-background-size: stretch;
}

#pane {
	-fx-hgap: 100;
	-fx-vgap: 150;
	-fx-font-size: 48px;
}