.root {
	-fx-background-image: url("../images/main.jpg");
	-fx-background-position: center;
	-fx-background-repeat: stretch;
	-fx-background-size: stretch;
}

.label {
	-fx-font-weight: bold;
	-fx-font-family: "Calibri";
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.5) , 5, 0.0 , 0 , 2 );
}

.button {
	-fx-font-size: 32px;
}

#timeLabel {
	-fx-font-size: 52px;
	-fx-text-fill: ANTIQUEWHITE;
}

#gaming {
	-fx-background-image: url("../images/back.jpg");
	-fx-background-position: center;
	-fx-background-repeat: stretch;
	-fx-background-size: stretch;
}

#rectBut {
	-fx-graphic: url("../images/rsz_cube.png");
}

#circBut {
	-fx-graphic: url("../images/rsz_sphere.png");
}

#menuBut {
	-fx-graphic: url("../images/gear.png");
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,2 );
}


#stageBtn {
	-fx-font-size: 48px;
	-fx-font-weight: bold;
	-fx-text-fill: GREEN;
}

#exitBtn {
	-fx-text-fill: FIREBRICK;

}

#stageMenu {
	-fx-background-image: url("../images/stagesmenu.jpg");
	-fx-background-position: center;
	-fx-background-repeat: stretch;
	-fx-background-size: stretch;
}

#inGameMenu {
	-fx-effect: dropshadow( gaussian , rgba(0,0, 0,0.7) , 0,0,7,7 );
	-fx-alignment: center;
	-fx-spacing: 15;
	-fx-padding: 20;
}

#menuText {
	-fx-text-fill: ORANGE;
	-fx-font-size: 40px
}

#resumeBut {
	-fx-text-fill: GREEN;
	-fx-font-size: 30px
}

#optionsBut {
	-fx-font-size: 25px
}

#exitBut {
	-fx-text-fill: RED;
	-fx-font-size: 20px
}